* {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid red;
  height: 500px;
  width: 800px;
}

#canvas {
  position: relative;
  border: 1px solid green;
  margin: 30px;
  left: 350px;
  width: 300px;
  height: 300px;
}

.game {
  position: fixed;
  top: 0px;
  margin: 30px;
  left: 30px;
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

.dialogBox,.inputBox {
  border: 1px solid orange;
  margin: 20px;
  height: 120px;
  width: 260px;
}